@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* header logo and nav menu */
.menu {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #EDE7EB;
    font-size: 18px;
}

/* header cover */

.cover-image {
    width: 25%;
    flex: 1;
}

.cover {
    padding: 20px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.cover-text {
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.cover-text > p {
    font-size: 18px;
    color: #e5e7eb;
}

.cover-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 6px;
    padding: 4px 22px;
    margin-top: 18px;
    font-size: 16px;
}

/* some random information section */

.random {
    padding: 60px 200px; 
}

.random > h2 {
    font-size: 36px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

h2 {
    color: #1F2937;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;

}

.subtext-and-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.subtext-and-image > p {
    color: #1f2937;
    font-size: 18px;
}

.icon-image {
    width: 50%;
}

/* quote section */
.quote {
    padding: 60px 300px;
    background-color: #e5e7eb; 
}

.quote-text {
    text-align: justify;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    font-size: 36px;
}

.quote-author {
    text-align: end;
    font-weight: bold;
    font-size: 22px;
}

/* call to action section */
.call-to-action {
    margin: 60px 200px;
    min-height: 120px;
    background-color:#3882f6;
    border-radius: 6px;
    color:#e5e7eb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-text {
    font-size: 20px;
    font-weight: bold;
}

.call-to-action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    padding: 4px 22px;
    margin-top: 18px;
    font-size: 16px;
}

/* footer */
footer {
    text-align: center;
    background-color: #1F2937;
    color:#e5e7eb;
    padding: 30px 0;
}

